# CODEOWNERS: https://help.github.com/articles/about-codeowners/

# Primary repo maintainers
*       @babylonlabs-io/core-dev

# DevOps team owns CI/CD and container configuration
/.github/ @babylonlabs-io/devops
/.github/CODEOWNERS @babylonlabs-io/devops
**/Dockerfile @babylonlabs-io/devops
