# CODEOWNERS: https://help.github.com/articles/about-codeowners/

# Primary repo maintainers
*       @babylonlabs-io/core-dev

# DevOps team owns CI/CD workflows
/.github/workflows/ @babylonlabs-io/devops
