name: Changelog Reminder
on:
  pull_request:
    types: [assigned, opened, synchronize, reopened, labeled, unlabeled]
    branches:
      - main

permissions:
  contents: read

jobs:
  changelog_reminder:
    uses: babylonlabs-io/.github/.github/workflows/reusable_changelog_reminder.yml@d2299e834fcbaca4bf2db043a2939798043d5951  # v0.16.1
    secrets: inherit
