name: ci

on:
  push:
    branches:
    - '**'

jobs:
  lint_test:
    uses: babylonlabs-io/.github/.github/workflows/reusable_go_lint_test.yml@v0.2.1
    with:
      run-unit-tests: true
      run-integration-tests: true
      run-lint: true
      integration-tests-command: |
        sudo make test-e2e

  docker_pipeline:
    uses: babylonlabs-io/.github/.github/workflows/reusable_docker_pipeline.yml@v0.2.1
    secrets: inherit
    with:
     publish: false
     dockerfile: ./contrib/images/babylond/Dockerfile
     repoName: babylond