name: ci

on:
  push:
    branches:
      - '**'

concurrency:
  group: ci-${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  lint_test:
    uses: babylonlabs-io/.github/.github/workflows/reusable_go_lint_test.yml@v0.7.0
    secrets: inherit
    with:
     go-version: '1.23'
     go-lint-version: 'v1.60.2'
     run-unit-tests: true
     run-integration-tests: false
     run-lint: true

  proto_lint:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Run proto lint
        run: |
          make proto-lint

  docker_pipeline:
    uses: babylonlabs-io/.github/.github/workflows/reusable_docker_pipeline.yml@v0.13.2
    secrets: inherit
    with:
     publish: false
     dockerfile: ./contrib/images/babylond/Dockerfile
     repoName: babylond

###############################################################################
###                                   E2E                                   ###
###############################################################################

  e2e-docker-build-babylon:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Build docker babylond
        run: |
          make -C contrib/images babylond-e2e
      - name: Docker save babylon
        run: |
          docker save -o /tmp/docker-babylond.tar.gz babylonlabs-io/babylond:latest
      - name: Upload babylon artifact
        uses: actions/upload-artifact@v4
        with:
          name: babylond-${{ github.sha }} # so it renovates at every new sha
          path: /tmp/docker-babylond.tar.gz

  e2e-docker-build-e2e-init-chain:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Build docker init-chain
        run: |
          make -C contrib/images e2e-init-chain
      - name: Docker save init-chain
        run: |
          docker save -o /tmp/docker-init-chain.tar.gz babylonlabs-io/babylond-e2e-init-chain:latest
      - name: Upload init-chain artifact
        uses: actions/upload-artifact@v4
        with:
          name: init-chain
          path: /tmp/docker-init-chain.tar.gz
          # retention-days: 90

  e2e-run-ibc-transfer:
    needs: [e2e-docker-build-babylon]
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Download babylon artifact
        uses: actions/download-artifact@v4
        with:
          name: babylond-${{ github.sha }}
          path: /tmp
      - name: Docker load babylond
        run: |
          docker load < /tmp/docker-babylond.tar.gz
      - name: Login to Docker Hub # load hermes
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Cache Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23
      - name: Run e2e TestIBCTranferTestSuite
        run: |
          make test-e2e-cache-ibc-transfer

  e2e-run-btc-timestamping:
    needs: [e2e-docker-build-babylon]
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Download babylon artifact
        uses: actions/download-artifact@v4
        with:
          name: babylond-${{ github.sha }}
          path: /tmp
      - name: Docker load babylond
        run: |
          docker load < /tmp/docker-babylond.tar.gz
      - name: Cache Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23
      - name: Run e2e TestBTCTimestampingTestSuite
        run: |
          make test-e2e-cache-btc-timestamping

  e2e-run-btc-staking:
    needs: [e2e-docker-build-babylon]
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Download babylon artifact
        uses: actions/download-artifact@v4
        with:
          name: babylond-${{ github.sha }}
          path: /tmp
      - name: Docker load babylond
        run: |
          docker load < /tmp/docker-babylond.tar.gz
      - name: Cache Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23
      - name: Run e2e TestBTCStakingTestSuite
        run: |
          make test-e2e-cache-btc-staking

  e2e-run-gov-resume-finality:
    needs: [e2e-docker-build-babylon]
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Download babylon artifact
        uses: actions/download-artifact@v4
        with:
          name: babylond-${{ github.sha }}
          path: /tmp
      - name: Docker load babylond
        run: |
          docker load < /tmp/docker-babylond.tar.gz
      - name: Cache Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23
      - name: Run e2e TestGovResumeFinality
        run: |
          make test-e2e-gov-resume-finality

  e2e-run-btc-rewards:
    needs: [e2e-docker-build-babylon]
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Download babylon artifact
        uses: actions/download-artifact@v4
        with:
          name: babylond-${{ github.sha }}
          path: /tmp
      - name: Docker load babylond
        run: |
          docker load < /tmp/docker-babylond.tar.gz
      - name: Cache Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23
      - name: Run e2e TestBTCRewardsDistribution
        run: |
          make test-e2e-cache-btc-rewards

  e2e-run-btc-staking-pre-approval:
    needs: [e2e-docker-build-babylon]
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Download babylon artifact
        uses: actions/download-artifact@v4
        with:
          name: babylond-${{ github.sha }}
          path: /tmp
      - name: Docker load babylond
        run: |
          docker load < /tmp/docker-babylond.tar.gz
      - name: Cache Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23
      - name: Run e2e TestBTCStakingPreApprovalTestSuite
        run: |
          make test-e2e-cache-btc-staking-pre-approval

  e2e-run-ica:
    needs: [e2e-docker-build-babylon]
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Download babylon artifact
        uses: actions/download-artifact@v4
        with:
          name: babylond-${{ github.sha }}
          path: /tmp
      - name: Docker load babylond
        run: |
          docker load < /tmp/docker-babylond.tar.gz
      - name: Cache Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23
      - name: Run e2e TestICATestSuite
        run: |
          make test-e2e-cache-ica

  e2e-run-btc-rewards-bsn-rollup:
    needs: [e2e-docker-build-babylon]
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Download babylon artifact
        uses: actions/download-artifact@v4
        with:
          name: babylond-${{ github.sha }}
          path: /tmp
      - name: Docker load babylond
        run: |
          docker load < /tmp/docker-babylond.tar.gz
      - name: Cache Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23
      - name: Run e2e TestBtcRewardsDistributionBsnRollup
        run: |
          make test-e2e-btc-rewards-bsn-rollup

#  e2e-run-finality-contract:
#    needs: [e2e-docker-build-babylon]
#    runs-on: ubuntu-22.04
#    steps:
#      - name: Checkout repository
#        uses: actions/checkout@v4
#      - name: Download babylon artifact
#        uses: actions/download-artifact@v4
#        with:
#          name: babylond-${{ github.sha }}
#          path: /tmp
#      - name: Docker load babylond
#        run: |
#          docker load < /tmp/docker-babylond.tar.gz
#      - name: Cache Go
#        uses: actions/setup-go@v5
#        with:
#          go-version: 1.23
#      - name: Run e2e TestFinalityContractTestSuite
#        run: |
#          make test-e2e-cache-finality-contract
