name: docker_publish

on:
  push:
    branches:
      - 'main'
      - 'release/*'
    tags:
      - '*'
  workflow_dispatch:

jobs:
  lint_test:
    uses: babylonlabs-io/.github/.github/workflows/reusable_go_lint_test.yml@v0.7.0
    secrets: inherit
    with:
      go-version: '1.23'
      go-lint-version: 'v1.60.2'
      run-unit-tests: true
      run-integration-tests: false
      run-lint: true

  docker_pipeline:
    uses: babylonlabs-io/.github/.github/workflows/reusable_docker_pipeline.yml@v0.13.2
    needs: ["lint_test"]
    secrets: inherit
    permissions:
      # required for all workflows
      security-events: write
      # required to fetch internal or private CodeQL packs
      packages: read
    with:
      publish: true
      dockerfile: ./contrib/images/babylond/Dockerfile
      repoName: babylond
      docker_scan: true
