name: docker_publish

on:
  push:
    branches:
      - 'main'
      - "release/*"
    tags:
      - '*'
  workflow_dispatch:
    inputs:
      skip-lint-test:
        description: "Skip tests"
        required: false
        type: boolean
        default: false

permissions:
  contents: read

jobs:
  lint_test:
    uses: babylonlabs-io/.github/.github/workflows/reusable_go_lint_test.yml@d2299e834fcbaca4bf2db043a2939798043d5951  # v0.16.1
    if: ${{ !(github.event_name == 'workflow_dispatch' && inputs['skip-lint-test'] == true) }}
    secrets: inherit
    with:
      go-version: '1.23'
      go-lint-version: 'v2.1.0'
      run-unit-tests: true
      run-integration-tests: false
      run-lint: true

  docker_pipeline:
    if: ${{ always() && (
          (github.event_name == 'workflow_dispatch' && inputs['skip-lint-test'] == true) ||
          needs.lint_test.result == 'success'
        )}}
    uses: babylonlabs-io/.github/.github/workflows/reusable_docker_pipeline.yml@d2299e834fcbaca4bf2db043a2939798043d5951  # v0.16.1
    needs: ["lint_test"]
    secrets: inherit
    permissions:
      contents: read        # REQUIRED by reusable workflow
      id-token: write       # REQUIRED for AWS OIDC
      # required for all workflows
      security-events: write
      # required to fetch internal or private CodeQL packs
      packages: read
    with:
      publish: true
      dockerfile: ./contrib/images/babylond/Dockerfile
      repoName: babylond
      docker_scan: true

  docker_testnet_pipeline:
    if: ${{ always() && (
            startsWith(github.ref, 'refs/tags/') &&
            (
              (github.event_name == 'workflow_dispatch' && inputs['skip-lint-test'] == true) ||
              needs.lint_test.result == 'success'
            )
          ) }}
    uses: babylonlabs-io/.github/.github/workflows/reusable_docker_pipeline.yml@d2299e834fcbaca4bf2db043a2939798043d5951  # v0.16.1
    needs: ["lint_test"]
    secrets: inherit
    permissions:
      contents: read        # REQUIRED by reusable workflow
      id-token: write       # REQUIRED for AWS OIDC
      # required for all workflows
      security-events: write
      # required to fetch internal or private CodeQL packs
      packages: read
    with:
      publish: true
      dockerfile: ./contrib/images/babylond/Dockerfile
      repoName: babylond
      imageTag: ${{ github.ref_name }}-testnet  # Append '-testnet' to the tag name
      buildArgs: |
        BABYLON_BUILD_OPTIONS=testnet
      docker_scan: true
      buildArtifactPrefix: "testnet-"
