name: Create Sync PR from main to base/consumer-chain-support

on:
  schedule:
    - cron: "0 0 * * *"

permissions:
  pull-requests: write

jobs:
  call_sync_branch:
    uses: babylonlabs-io/.github/.github/workflows/reusable_sync_branch.yml@a5bf0dd12c945ee8fb95cd18765f134928de3e32  # v0.16
    with:
      base_branch: "main"
      target_branch: "base/consumer-chain-support"
      reviewers: "SebastianElvis,maurolacy,gusin13"
    secrets: inherit
